h1{ text-align: center;  }
p{  font-size: xx-large;
    padding-left: 5rem;
    padding-right: 2rem; 
    text-indent: 3rem;
}
.kras{ position: absolute; }
.vir{ text-align: center; }
.viborfona{
margin-top: 12px;
margin-left: 30px;
width: 275px;
}
