body {
background: linear-gradient(90deg, rgb(3, 108, 168), rgb(164, 206, 231));
}
p {  text-align: center;
    font-size: x-large;
}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {display: inline-block; 
    background-color: rgb(125, 134, 123);}
h4 {text-align: center;}

.company{ /* font-family: "Parizhel"; */
    font-size: 2rem;
}
